<%= link_to 'New Location', new_admin_location_path,
            class: 'admin btn btn-sm btn-default extra-action' %>
<h1>Locations</h1>

<% @locations.group_by(&:place).each do |place, locations| %>
  <div class="place">
    <h2><%= place %></h2>
    <ul class="locations">
      <%= render locations %>
    </ul>
  </div>
<% end %>
