<% content_for :title do %>Admin: Flags<% end %>
<h1>Flags</h1>

<table id="enabled_flags">
  <% %w[site sign_in sign_up].each do |flag| %>
    <tr>
      <td><%= flag.to_s.titleize %></td>
      <td><%= form_for_flag(flag) %></td>
    </tr>
  <% end %>
</table>
