<% content_for :title do %>Recent Changes<% end %>
<h3>Recent Changes</h3>

<p>
  If you're interested, here are the changes I've made to the site recently,
  newest-first, in more detail than you probably care about:
</p>

<h5>1/6/14</h5>
<ul>
  <li>
    Just noticed that
    "<%= image_tag("fam3silk/accept.png", height: "16px", width: "16px") %>"
    wasn't showing up to mark selected screenings on the Priorities
    page or in the screening popups on the Schedule. Fixed.
  </li>
</ul>

<h5>1/5/14</h5>
<ul>
  <li>
    If you view the schedule page on a phone (or other smaller-than-a-tablet
    device), you'll only see your selected screenings in a single column.
  </li>
  <li>
    I also made a few smaller tweaks when displaying on mobile devices;
    more to come.
  </li>
  <li>
    <i>Please let me know if you have other feedback about this site appears
      on mobile devices!
    </i>
  </li>
</ul>

<h5>1/1/14</h5>
<ul>
  <li>Now you can hide the instructions, and we'll remember your choice.</li>
  <li>
    If you print a web page, we won't waste your ink on the navigation stuff
    or the instructions -- it'll be hidden.
  </li>
</ul>

<h5>12/29/13</h5>
<ul>
  <li>Rewrote the mechanism I use behind-the-scenes to set up festivals.</li>
</ul>

<h5>12/24/13</h5>
<ul>
  <li>Moved the site to a more-powerful server.</li>
  <li>Updated several third-party software components.</li>
</ul>

<h5>2/9/13</h5>
<ul>
  <li>Found & fixed another case where press screenings where showing up for
    users who hadn't asked for them</li>
</ul>

<h5>2/8/13</h5>
<ul>
  <li>The screening popup was for the wrong screening sometimes; fixed (thanks,
    Wally & Gina!)</li>
  <li>Send me mail when someone gives feedback.</li>
</ul>

<h5>2/6/13</h5>
<ul>
  <li>Fix a typo that caused all the settings on the schedule page to get
  cached (so though the schedule blocks were right, all the stuff pertaining
  to you -- colors, priorities, &amp; ratings -- were wrong, and selecting &amp;
  unselecting screenings manually wouldn't work right.</li>
  <li>Compact the banner on the home page; make the call-to-action go to the
      festival, instead of signup/login.</li>
  <li>Fix a problem where the highest priority choices didn't get saved;
    thanks Doug, Sandy, and others who reported this, but especially Laura
    who clued into the idea that it was only the highest-priority ones that
    went missing!</li>
  <li>Fix error when clicking on screenings of films without a country,
    like the shorts programs.</li>
  <li>Fix the "Discard all priorities and ratings" and "Unselect all
    screenings" buttons</li>
  <li>Fix styling of links on the home page (Thanks, Reid!)</li>
  <li>Fix ordering of announcements on the home page</li>
  <li>Add this Change log :-)</li>
  <li>Add a note about the prioritizing problem to the Your Film Priorities
      page</li>
  <li>Call more attention to the you-need-to-change-your-password note
      on the signin page</li>
  <li>Initial opening of the new version</li>
</ul>
