<% content_for :title do %>Recent Changes<% end %>

<h3>Recent Changes</h3>

<p>
  If you're interested, here are the changes I've made to the site recently,
  newest-first, in more detail than you probably care about:
</p>

<h5>2/6/13 10:30pm</h5>
<ul>
  <li>Fix a typo that caused all the settings on the schedule page to get
  cached (so though the schedule blocks were right, all the stuff pertaining
  to you -- colors, priorities, &amp; ratings -- were wrong, and selecting &amp;
  unselecting screenings manually wouldn't work right.</li>
</ul>

<h5>2/6/13 8:40pm</h5>
<ul>
  <li>Fix a problem where the highest priority choices didn't get saved;
    thanks Doug, Sandy, and others who reported this, but especially Laura
    who clued into the idea that it was only the highest-priority ones that
    went missing!</li>
  <li>Fix error when clicking on screenings of films without a country,
    like the shorts programs.</li>
  <li>Fix the "Discard all priorities and ratings" and "Unselect all
    screenings" buttons</li>
  <li>Fix styling of links on the home page (Thanks, Reid!)</li>
  <li>Fix ordering of announcements on the home page</li>
  <li>Add this Change log :-)</li>
</ul>

<h5>2/6/13 10:55am</h5>
<ul>
  <li>Add a note about the prioritizing problem to the Your Film Priorities
      page</li>
  <li>Call more attention to the you-need-to-change-your-password note
      on the signin page</li>
</ul>

<h5>2/6/13 12:45am</h5>
<ul><li>Initial opening of the new version</li></ul>
