<div id="overview">
  <h2><strong>Get more</strong> from your film festival experience!</h2>
  <p>
    Festival Fanatic can help you see more of the movies you want to see...
    it's as easy as 1 - 2 - 3:
  </p>
  <ol>
    <li>
      Prioritize films
    </li>
    <li>
      Tell us when you're available, and we'll find screenings for you automatically
    </li>
    <li>
      Browse your schedule, from your desktop, your tablet, or your phone
    </li>
  </ol>
</div>
