

<div class="row">
  <div id="overview" class="well row">
    <div class="row">
      <div id="slogan" class="row">
        <strong>Get more</strong> from your film festival experience!
      </div>
      <p>
        Festival Fanatic can help you see more of the movies you want to see...
      </p>
    </div>
    <div class="row steps">
      <div class="col-sm-4 col-height step prioritize">
        <div>1. Prioritize your films</div>
        Which films do you really want to see?
      </div>
      <div class="col-sm-4 col-height step availability">
        <div>2. Tell me when you're available</div>
        and I'll find screenings for you automatically
      </div>
      <div class="col-sm-4 col-height step browse">
        <div>3. Browse your schedule</div>
        from your desktop, and (soon!) your tablet or phone
      </div>
    </div>
    <div id="calltoaction" class="row">
      <%= call_to_action %>
    </div>
  </div>
</div>

<% if @announcements.present? %>
  <h3>News</h3>
  <div class="announcements">
    <%= render partial: "announcements/announcement",
               collection: @announcements %>
    <%= link_to "All announcements", announcements_path, class: "btn btn-sm btn-default" %>
  </div>
<% end %>
