

<div class="row-fluid">
  <div id="overview" class="well span12">
    <div class="row-fluid">
      <div id="slogan" class="span12">
        <strong>Get more</strong> from your film festival experience!
      </div>
      <p>
        Festival Fanatic can help you see more of the movies you want to see...
      </p>
    </div>
    <div class="row-fluid">
      <div class="span4 prioritize">
        <div>1. Prioritize your films</div>
        Which films do you really want to see?
      </div>
      <div class="span4 availability">
        <div>2. Tell me when you're available</div>
        and I'll find screenings for you automatically
      </div>
      <div class="span4 browse">
        <div>3. Browse your schedule</div>
        from your desktop, and (soon!) your tablet or phone
      </div>
    </div>
    <div id="calltoaction" class="row-fluid">
      <div class="span12">
        <div id="nowplaying">
          <h4>Now scheduling</h4>
          <h2>the 12th Ashland Independent Film Festival</h2>
          <%= link_to "Get Started (it's free!)", '/festivals/aiff_2013/priorities',
                      class: 'btn btn-large' %>
        </div>
      </div>
    </div>
  </div>
</div>


<% if @announcements.present? %>
  <h3>News</h3>
  <div class="announcements">
    <%= render partial: "announcements/announcement",
               collection: @announcements %>
    <%= link_to "All announcements", announcements_path, class: "btn" %>
  </div>
<% end %>
