<% content_for :title do %>Back soon<% end %>
<h1>Sorry, we're closed!</h1>

Festival Fanatic is on vacation for a little
while<%= @reason ? ": #{@reason}" : " for maintenance" %>.

Check back <%= @reopening.present? ? "#{@reopening}." : "soon!" %>
