
<h1>No new sign ups for now</h1>

<p>
We're between festivals right now, and there isn't much use in signing up for
a new account until there's a festival to see.
</p>

<p>
Please watch the front page for new festival announcements - I'll open back
up as soon as you can schedule one!
</p>
