<tr>
  <td><%= mdy_hms(activity.created_at) %></td>
  <% if show_user %>
    <td>
      <%= link_to(activity.user.email, admin_user_path(activity.user)) if activity.user %>
    </td>
  <% end %>
  <td><%= activity.name %></td>
  <td>
    <%= activity_details(activity) %>
  </td>
</tr>
