<h1>Activity</h1>

<%= button_to("Capture PIFF2017 screenings",
              capture_admin_activity_index_path(festival_slug: "piff_2017"), method: :post) %>

<table class="table table-condensed">
  <tr>
    <th>
      When
    </th>
    <th>
      User
    </th>
    <th>
      Action
    </th>
    <th>
      Details
    </th>
  </tr>

  <%= render partial: :list, collection: @activity,
             locals: { show_user: true } %>
</table>

<%= paginate @activity %>
