<h1>Activity</h1>

<table class="table table-condensed">
  <tr>
    <th>
      When
    </th>
    <th>
      User
    </th>
    <th>
      Action
    </th>
    <th>
      Details
    </th>
  </tr>

  <%= render partial: :list, collection: @activity,
             locals: { show_user: true } %>
</table>

<%= paginate @activity %>
