<%= content_tag_for(:li, venue) do %>
  <h3>
    <%= venue.name %> (<%= venue.abbreviation %>)

    <span class="actions">
      <%= link_to 'Edit', edit_admin_venue_path(venue),
                  class: 'btn btn-small' %>
    </span>
  </h3>
<% end %>
