<%= content_tag_for(:li, venue) do %>
  <h4>
    <%= venue.name %> (<%= venue.abbreviation %>)

    <span class="actions">
      <%= link_to 'Edit', edit_admin_venue_path(venue),
                  class: 'btn btn-sm btn-default' %>
    </span>
  </h4>
<% end %>
