<table id="festival_films" class="table table-condensed">
  <thead>
    <tr>
      <th>
        <%= pluralize(@films.count, "Film") %>
        <%= link_to('New Film', new_admin_festival_film_path(@festival),
                    class: 'btn btn-sm btn-default', id: 'new_festival_film') %>
      </th>
      <th>Country</th>
      <th>Minutes</th>
      <th>Page</th>
      <th>Link</th>
      <th>Screenings</th>
    </tr>
  </thead>
  <tbody>
    <%= render @films %>
  </tbody>
</table>
