
<% if @show_all %>
  <h3>All feedback <small><%= link_to("(Show open only)", admin_questions_path) %></small></h3>
<% else %>
  <h3>Open feedback <small><%= link_to("(Show all)", admin_questions_path(all: true)) %></small></h3>
<% end %>

<div id="questions">
  <%= render @questions %>
</div>
