<h3>Almost there: we'll create a schedule for you</h3>

<%= simple_form_for([@festival, @subscription], html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :show_press, label: "Show press screenings?" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
