<p>
  Your festival schedule is below;

  tap a screening to see more information about the film,

  or to remove the screening from your schedule (we'll automatically
  unselect conflicting screenings and other screenings of that film).
</p>
