#screening_starts_at_date
  width: 12em

#screening_starts_at_time
  width: 5em

body.festivals-edit
  .locations
    div.checkbox
      padding-left: 1em
      display: inline-block
      white-space: nowrap
      width: 18em
