// Place all the styles related to the announcements controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.announcement
  padding-bottom: 1em
  h4
    margin-bottom: 0px
  .published
    font-size: 80%
    font-weight: bold

a#new_announcement
  float: right

form.new_announcement,form.edit_announcement
  input#announcement_subject
    width: 30em
  textarea#announcement_contents
    width: 80%
