// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

#enabled_flags
  td
    vertical-align: middle
    padding-right: 5px
  td
    input[type=submit].enabled
      background-color: green
  td
    input[type=submit].disabled
      background-color: red

  form
    margin: 2px

#slogan
  text-align: center
  font-size: 250%
  line-height: 1em
  padding-top: 0.6em
  padding-bottom: 1em
  .strong
    font-size: 300%

#overview
  padding: 1em
  width: 100%
  font-size: 170%
  line-height: 1em
  background-color: #eee
  border-radius: 0.7em
  text-align: center
  .span4
    div
      font-size: 120%
      font-weight: bold
      line-height: 1em
      padding-bottom: 0.2em
    padding: 1em
    font-size: 80%
    line-height: 1em
    border-radius: 5px

  .span4.prioritize
    background-color: $unscheduled_color

  .span4.availability
    background-color: $scheduled_color
    border: 2px solid $scheduled_border_color

  .span4.browse
    background-color: $other_scheduled_color

#nowplaying
  margin-top: 1em
  a
    font-size: 30px
#calltoaction
  margin-top: 1em
  text-align: center
  #signup
    font-size: 120%
  span
    padding-left: 1em
