ul#locations
  li.location
    margin-bottom: 8px
  h2
    font-size: 20px
    line-height: 100%
    margin-top: 0px
    margin-bottom: 3px
  h3
    font-size: 14px
    line-height: 100%
    margin-top: 0px
    margin-bottom: 3px
  .actions
    font-size: 14px
    font-weight: normal
