// Place all the styles related to the picks controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

#picks
  th
    padding-bottom: 8px
  td
    vertical-align: top

.rating_column
  padding-right: 2em

#progress_column
  width: 4em

#continue
  margin-bottom: 2em

#sortform
  font-weight: normal
  font-size: 0.9em
  text-align: left
  p
    margin-bottom: 3px
  span
    margin-right: 0.5em
