#screening-modal
  width: 600px
  margin-left: -300px
  .modal-header
    padding: 4px 10px
  .modal-footer
    padding: 4px 10px
  .actions
    float: right
    font-weight: bold
  .title
    font-weight: bold
    font-size: 1.1em
  .pick_symbols
    float: right
  li.screening
    list-style: none

// make the description scroll on tiny devices
@media (max-width: 767px)
  #screening-modal
    div.description
      height: 7em
      overflow: scroll

// Hack to get the modal background to show up (without this, it ends up
// position: absolute and 0-pixels-high because no bottom.
body.modal-open .modal-backdrop
  position: fixed
  bottom: 0
