#screening-modal
  .modal-header
    padding: 4px 10px
  .modal-footer
    padding: 4px 10px
  .actions
    float: right
    font-weight: bold
  .title
    font-weight: bold
    font-size: 1.1em
  .pick_symbols
    float: right
