.new_subscription,.edit_subscription
  #subscription_restriction_text
    width: 80%
  li
    margin-bottom: 1.5em
    p
      margin-bottom: 0.7em
    &.locations
      label.control-label
        display: none
      div.checkbox
        display: inline-block
        white-space: nowrap
        width: 13em
      label
        font-weight: bold
    .help-inline
      display: block
      // color: $errorText
    .radio_buttons
      label.control-label
        display: none
      .controls
        margin-left: 0
        padding-left: 0
