// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.new_subscription,.edit_subscription
  #subscription_restriction_text
    width: 80%
  li
    margin-bottom: 10px
    p
      margin-bottom: 0.7em
    div
      padding-left: 1em
      display: inline-block
      white-space: nowrap
      width: 13em
    label.box
      display: inline
    .help-inline
      display: block
      color: $errorText
