<p>Hello <%= @resource.email %>!</p>

<p>
  Someone, hopefully you, requested a link to change your
  <%= link_to 'Festival Fanatic', root_url %> password. You can set a new
  password by clicking this link:
</p>

<p>
  <%= link_to 'Change my password',
               edit_password_url(@resource, :reset_password_token => @token) %>
</p>

<p>
  If you didn't make this request, just ignore this email; your password won't
  change unless you click the link above and set a new one.
</p>

<p>Thanks! ...Bryan at Festival Fanatic</p>
