<header id="topnav" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <%= link_to root_path, class: :brand do %>
          Festival Fanatic
        <% end %>
        <ul class="nav">
          <% if user_signed_in? %>
            <li id="sign_out"><%= link_to "Sign out", destroy_user_session_path %></li>
          <% else %>
            <li id="sign_up"><%= link_to "Sign up", new_user_registration_path %></li>
            <li id="sign_in"><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
