<header id="topnav" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <%= link_to root_path, class: :brand do %>
          Festival Fanatic
        <% end %>
        <ul class="nav">
        </ul>
      </nav>
    </div>
  </div>
</header>
